#contact-wrapper{
  width: 100%;
  margin-top: 5%;
  
}

.contact-form{
 width: 40%;
 padding: 7px;
 margin: auto;
 display: flex;
 flex-direction: column;
 border-left: 5px dotted #1f0852;
 border-bottom: 5px dotted #1f0852;
 
}

#contact-wrapper p{
  width: 30%;
  margin: 2% auto auto auto;
  border-radius: 7px;
  background-color: #1f0852;
  font-size: 1.5em;
  color: white;
  text-align: center;
}

.contact-form input{
  width: 40%;
  margin: 7px;
  padding: 7px;
  border-radius: 7px;
  font-size: 1em;
}

.contact-form textarea{
  width: 100%;
  height: 300px;
  margin: 15px auto auto auto;
  border-radius: 7px;
  font-size: 2em;
}
.contact-form button{
  width: 30%;
  margin: 15px auto auto auto;
  padding: 7px;
  border: 4px solid #1f0852;
  border-radius: 20px;
  outline: none;
  background: none;
  cursor: poitner;
  color: white;
  font-size: 1.3em;
}

.contact-form button:hover{
  background-color: #1f0852;
}

#back-to-top{
  width: 40px;
  margin: 5% auto auto auto;
  display: block;
  background-color: #1f0852;
  border: none;
  outline: none;
  border-radius: 50%;
  color: white;
  font-size: 2em;
  cursor: pointer;
}


@media screen and (min-width: 0px) and (max-width: 1023px){
  .contact-form{
    width: 90%;
    margin: auto;
  }
}